name
<span class="attribute-required">required</span>
<span class="attribute-explanation">string</span> |
Name of this account. Use your business name, or just anything that helps you
identify this account.
<br />
<br />
If you're an agency, this is the name of your client.
