segment
<span class="attribute-explanation">string</span> |
The business segment allows us to show special forms and UI in the dashboard.
We support the following segments, and will support new ones soon:
<ul>
  <li>`generic` (default): for a business that is not any of the below.</li>
  <li>`car-dealership`: for businesses that negotiate cars.</li>
  <li>`real-estate`: for businesses in the real estate industry.</li>
</ul>
