ad&lowbar;account
<span class="attribute-required">optional, required to run</span> |
The ad account this resource belongs to. Remember that Facebook's start with
`act_{ad_account_id}` whereas Google's are 10 digit numbers.
<br>
<br>
You can leave this blank, ideal for the planning phase, but the campaign will
only run when you enter a value.
<br>
<br>
Note: this has to be one of the ad-accounts marked as `selected`.
