ad-account
<span class="attribute-required">required</span> |
The ad account this resource belongs to. Remember that Facebook ids start with
`act_{ad_account_id}` whereas Google's are 10 digit numbers.
