ad&#8209;type
<span class="attribute-required">required</span>
<span class="attribute-explanation">string</span> |
Define the type of ad, which will dictate the `data` attributes.
<br>
<br>
**Google Ads:**
<ul>
  <li>`expanded-text-ad`</li>
  <li>`dynamic-ad`</li>
</ul>
**Facebook:**
<ul>
  <li>`image`</li>
  <li>`video`</li>
</ul>
