creative
<span class="attribute-required">required</span>
<span class="attribute-explanation">object</span> |
The keys in this object depend on the `ad-type` value. For example,
Google's _expanded-text-ad_ will require headlines and description while
a Facebook's _video_ ad will require a video URL.
<br>
<br>
<a href="#ads-creative-details">See Creative Per Ad Type</a> to know what are the creative attributes for each ad type.
