destination&#8209;url
<span class="attribute-required">required</span>
<span class="attribute-explanation">string</span> |
The URL the user will be redirected to when they click on the ad.
You have to specify a protocol (e.g `https://`).
