preview&lowbar;url
<span class="attribute-explanation">string, read&#8209;only</span> |
This is a URL for previewing the ad.
<br><br>
Not all ads will have a preview URL, in which case this is `null`.
For instance, HTML5 banners will generate a URL once it's sent to Google Ads.
Facebook will also generate previews for some ads.
<br><br>
This is a URL that points to an HTML, so use it inside an `<iframe>` element.
