Each Ad has a different Creative (ad format).

Below you will find what you have to use as `creative` depending on the `type`
of ad you want. If you need a different type of ad or banner which is not
available below, get in touch with us.

<aside>In the code examples, the key "creative" is the attributes in /ads.</aside>

### **Google Ads**

These are the supported ad types and creative for Google.

```json
{
  "creative": {
    "type": "expanded_text_ad",
    "spec": {
      "headline_part1": "Ascendance",
      "headline_part2": "Kids Dance Class",
      "description": "All Ages and Styles. Try a Free Class Today",
      "link": "http://ascendancestudio.com/homepage.html"
    }
  }
}
```

<section class="creative-details">
<%= partial("includes/resources/text_fragments/ad_creative/google_expanded_text_ad.md.erb") %>
</section>

```json
{
  "creative": {
    "type": "html5",
    "spec": {
      "entrypoint": "carousel/index.html",
      "zip_url": "http://goo.gl/9Y7qI2",
      "width": 300,
      "height": 250,
      "link": "http://nexus.com/homepage.html",
      "display_url": "http://nexus.com"
    }
  }
}
```

<section class="creative-details">
<%= partial("includes/resources/text_fragments/ad_creative/google_html5.md.erb") %>
</section>

### **Facebook Ads**

These are the supported ad types and creative for Facebook. All values in `spec` are sent as is to Facebook. If there's a specific type of ad that you want and is not documented here, you can send the values according to the documentation at 
<a href="https://developers.facebook.com/docs/marketing-api/reference/ad-creative">
https://developers.facebook.com/docs/marketing-api/reference/ad-creative
</a>.

```json
{
  "creative": {
    "type": "link_data",
    "spec": {
      "link_data": {
        "link": "https://example.com",
        "message": "The main body of the post, above the image.",
        "picture": "https://example.com/ad-picture.png",
        "description": "Link description below the image's title.",
        "call_to_action": {
          "type": "OPEN_LINK",
          "value": {
            "link_caption": "example.com/subscribe"
          }
        }
      }
    }
  }
}
```

<section class="creative-details">
<%= partial("includes/resources/text_fragments/ad_creative/facebook_link_data.md.erb") %>
</section>

```json
{
  "creative": {
    "type": "video_data",
    "spec": {
      "video_data": {
        "link": "https://example.com",
        "message": "The main body of the post, above the image.",
        "image_url": "https://example.com/ad-picture.png",
        "video_url": "http://example.com/video.avi",
        "link_description": "Link description below the video.",
        "call_to_action": {
          "type": "OPEN_LINK",
          "value": {
            "link_caption": "example.com/subscribe"
          }
        }
      }
    }
  }
}
```

<section class="creative-details">
<%= partial("includes/resources/text_fragments/ad_creative/facebook_video_data.md.erb") %>
</section>
