# Introduction

APISync's RESTful API enables you to synchronize your system with our database,
from where records are sent to external services for marketing automation.

## How to Start

The steps to succeed include:

1. **Use your API Token:** on the dashboard, you get your API Token. An API
Token is a password unique to your company. It enable us to know who's making
the API requests.
2. **Use your test account:**
develop using your <a href="#test-account">Test Account</a> so you can play with
the API without paying for it.
3. **Check the available endpoints:** skim over the endpoints. Know the
difference between Organization and their Accounts on the sidebar and their
endpoints.
4. **Code.**

The <span class="beta">Beta</span> endpoints are
experimental with select clients. Contact us to receive access to these
endpoints.

We're here to help you. Get in touch if you need any assistance.

<%= raw_partial("includes/_index_business_domain.md") %>

<%= raw_partial("includes/_index_test_account.md") %>

## Open-Source

In case your language or framework is listed below, we recommend using it.

- **Ruby:** <a href="https://github.com/apisync/apisync-ruby">https://github.com/apisync/apisync-ruby</a>
- **Ruby on Rails:** <a href="https://github.com/apisync/apisync-rails">https://github.com/apisync/apisync-rails</a>
