<h1 id="service-configurations" class="section">Configurations</h1>

Different services support different functionalities.
Below we describe how to configure your campaigns, ad sets and other resources
for specific services.
