ad&#8209;template&#8209;type
<span class="attribute-required">requerido</span>
<span class="attribute-explanation">string</span> |
String livre para identificar o tipo do item. Anúncios serão gerados segundo o tipo do item.
<br><br>
Só são permitidos letras letras do alfabeto, números, hífens e sublinhado. Acentos e derivações (ex.:  `ç`, `ú`) não são permitidos.
