availability
<span class="attribute-required">requerido</span>
<span class="attribute-explanation">string</span> |
Indica disponibilidade do produto. Valores aceitos no momento são:
<ul>
  <li>`in-stock`</li>
  <li>`out-of-stock`</li>
</ul>
