available
<span class="attribute-required">required</span>
<span class="attribute-explanation">boolean</span> |
Indicates product's availability. Accepted values:
<ul>
  <li>`true`: when item on sale</li>
  <li>`false`: when item is not on sale</li>
</ul>
