available
<span class="attribute-required">requerido</span>
<span class="attribute-explanation">boolean</span> |
Indica disponibilidade do produto. Valores aceitos:
<ul>
  <li>`true`: o item está disponível à venda</li>
  <li>`false`: o item não está mais disponível à venda</li>
</ul>
