condition
<span class="attribute-explanation">string, opcional</span> |
Condição do produto. Para produtos indefinidos ou digitais, não utilize esse campo. Valores aceitos:
<ul>
  <li>`new`: para produtos novos</li>
  <li>`used`: para produtos usados ou seminovos</li>
  <li>`refurbished`: para produtos recondicionados</li>
</ul>
