condition
<span class="attribute-explanation">string, optional</span> |
Accepted values:
<ul>
  <li>`new`</li>
  <li>`used`</li>
  <li>`refurbished`</li>
</ul>

Don't use this for abstract or digital products.
