custom&#8209;attributes
<span class="attribute-explanation">objeto</span> |
Objeto contendo atributos customizados e que descrevem o item.
As chaves e valores são livres.
Todas as chaves serão convertidas para formato com hífen automaticamente. Ex.: `my_key` se torna `my-key`.
<br><br>
Se você especificar um template de anúncio que use um atributo customizado.
