custom&lowbar;attributes
<span class="attribute-explanation">object list, optional</span> |
List of object with customized attributes that describe the item with additional
details.
These are the accepted keys:
<ul>
  <li>
    `identifier`: a value of your choice that identifies this attribute.
    For example, if your attribute is called "Delivery Method",
    use `delivery_method`. That way you can reference this later in your
    ads as `<delivery_method>`.
  </li>
  <li>
    `label`: human name for this attribute, to be used in forms
    in your dashboard, e.g. "Delivery method".
  </li>
  <li>`value`: actual value, e.g. "Standard".</li>
</ul>
If you specify an ad template that uses a custom attribute, use the
`identifier` as reference.
