description
<span class="attribute-explanation">string, opcional</span> |
Descrição do produto. Um ou dois parágrafos descrevendo o produto. Ele será
mostrado na tela do produto (caso uma seja usada).
