fingerprint
<span class="attribute-explanation">string, read-only</span> |
Unique hash (signature, HMAC) generated automatically representing
the sum of values in
`brand`, `model`, `year`, `reference_id`,
like a fingerprint. This is used to identify duplicated products.
<br />
<br />
During creation (POST), if a the same value already exists, the pre-existing
object will be updated, not created.
