images
<span class="attribute-explanation">objects list, optional</span> |
Object containing URLs to the product's images.
Contains the keys:

<ul>
  <li>`url` (string): image URL, starts with `http`.</li>
  <li>`order` (integer):
    define the order in which item will be showed in the image gallery.
    Image with `order` equal to `1` is considered the cover image.</li>
</ul>
