images
<span class="attribute-explanation">lista de objetos, opcional</span> |
Objeto contendo a URL para as imagens do produto. Contém 2 chaves:

<ul>
  <li>`uri` (string): endereço da imagem, começando com http.</li>
  <li>`main` (boolean): `true` se a imagem atual é a principal. Apenas uma imagem pode ser `true`. Caso nenhum seja `true`, vamos escolher uma aleatoriamente a definir como principal.</li>
</ul>
