images
<span class="attribute-explanation">lista de objetos, opcional</span> |
Objeto contendo URLs para as imagens do produto. Se você definiu o atributo `link`,
não é necessário o envio de imagens porque seu produto será visto no link.
Contém 2 chaves:

<ul>
  <li>`uri` (string): endereço da imagem, começando com http.</li>
  <li>`order` (integer): define a ordem que cada item será mostrada em uma galeria de imagens. A imagem com `order` igual a `1` será considerada a principal/de capa.</li>
</ul>
