item&lowbar;type <span class="attribute-required">required</span><span class="attribute-explanation">string</span> |
Free value to identify the item type.
Ads will be generated based the type of item.
