item&#8209;type <span class="attribute-required">requerido</span><span class="attribute-explanation">string</span> | String livre para identificar o tipo do item. Anúncios serão gerados segundo o tipo do item.
