link
<span class="attribute-explanation">string, opcional</span> |
Caso o produto já possua uma página na internet, especifique um endereço
começando com http. Quando especificado, anúncios levam os usuários para este
endereço.
Caso seja `null`, usuários verão o produto em uma tela genérica gerada
dinamicamente.
