price
<span class="attribute-explanation">objeto, opcional</span> |
Objeto com 2 atributos:
<ul>
  <li>`amount`: preço do item com centavos, ex.: `1012` para `R$10,12`. Não pode ser `0`. Para não definir preço, deixe-o como `nil`.</li>
  <li>`currency`: a moeda em questão, ex.: `BRL`, `USD`.</li>
</ul>
