reference&#8209;id <span class="attribute-explanation">string, opcional</span> | Identificador do item no banco de dados do cliente. Se você deixar em branco, você precisará guardar o id retornado para poder sincronizar o item conosco.
