title
<span class="attribute-explanation">string, opcional</span> |
Título do produto. Ele será usado na tela genérica de vendas (caso o
produto use uma). Caso seja deixado em branco, o título será a concatenação
de outros atributos, como `brand`, `model` e outros.
