uri <span class="attribute-explanation">string, opcional</span> | Se o item possui uma página na internet. Quando especificado, anúncios levam os usuários para este endereço. Caso seja `null`, usuários verão o produto em uma tela genérica.
