bids
<span class="attribute-required">required</span>
<span class="attribute-explanation">object</span> |
The bid will define how much you will pay for clicks, views and so on.
<br>
<br>
You can define `cpc` for Google and
`impressions` (see the [Facebook specs](https://developers.facebook.com/docs/marketing-api/reference/ad-campaign)).
<br>
<br>
- `amount` (integer):
<%= partial("includes/resources/generic_fields/facebook_amount.md.erb") %>
<%= partial("includes/resources/generic_fields/google_amount.md.erb") %>
<a href="#ads-data-details">See below</a> what are the data attributes for
each ad type.
