bids
<span class="attribute-required">required</span>
<span class="attribute-explanation">object</span> |
The bid will define how much you will pay for clicks, views and so on.
<br>
<br>
You can define `cpc`
<br>
<br>
- `amount` (Integer): value in cents. For $12.99, use `1299`.
On Facebook, the bid amount's unit is cents for currencies like USD, EUR,
and the basic unit for currencies like JPY, KRW.
<br>
<br>
<a href="#ads-creative-details">See below</a> what are the creative attributes for
each ad type.
