service&lowbar;configurations
<span class="attribute-required">required</span>
<span class="attribute-explanation">object</span> |
Facebook and Google work differently. This object defines configuration on a
per-service basis, such as Location, Language and Targetting.
<br>
<br>
For Facebook ad sets, for instance, you are required to define a location.
<br>
<br>
See the <a href="#service-configurations">Configurations</a> section for details.
