created-via
<span class="attribute-explanation">string, somente leitura</span> |
Indica como esse registro foi criado. Valores possíveis:
<ul>
  <li>`api`</li>
  <li>`dynamically`: quando registro foi criado automaticamente.</li>
  <li>`admin`: quando um usuário criou este item através do admin.</li>
</ul>
