reference&lowbar;id <span class="attribute-explanation">string, optional</span> |
Use this field to add your own ID to this record. Useful if you have an ID for
this record in your own database.

Later on you can use this reference id to
fetch the record.
