service
<span class="attribute-explanation">string, read-only</span> |
Name of the service this object was created for (e.g `adwords`, `facebook-ads`).
This is returned according to the campaign service you defined.
