service&lowbar;configurations
<span class="attribute-explanation">object, optional</span> |
Facebook and Google work differently. This object defines configuration on a
per-service basis, such as Location, Language and Targetting.
<br>
<br>
See the <a href="#service-configurations">Configurations</a> section for details.
