state
<span class="attribute-required">required</span>
<span class="attribute-explanation">string</span> |
Define the entity state, whether it's running or not. Accepted values:
<ul>
  <li>`active`: this means the entity will be synchronized with other services (e.g Facebook, Google).</li>
  <li>`paused`: entity is not running.</li>
  <li>`removed`: entity is removed and becomes invisible.</li>
</ul>
