id
<span class="attribute-explanation">string, readonly</span> |
This id is not an UUID like on the other endpoints. This is the `id` directly
from the upstream service. For example, for Google customers this will
be the 10-digit AdWords Customer ID. For Facebook, this is in the format
`act_{ad_account_id}`.
