selected
<span class="attribute-explanation">boolean, readonly</span> |
What ad-account is default. You set this in the dashboard,
when giving us access to your Facebook or Google Ads account.
<br>
<br>
Note: when creating a campaign, reference a selected ad-account.
