service
<span class="attribute-required">required</span>
<span class="attribute-explanation">string</span> |
The service we will synchronize this campaign with. Accepted values:
<ul>
  <li>`facebook-ads`: we'll send it to Facebook.</li>
  <li>`google-ads`: we'll send it to Google Ads, previously AdWords.</li>
</ul>
