name
<span class="attribute-explanation">string, readonly</span> |
Name of this credential, either on Google or Facebook. For instance,
this attribute is the page name when this is a Facebook page,
or the customer name when this is a Google Ads/AdWords customer.
<br>
<br>
Use this in your own UI.
