---
title: API Reference

language_tabs: # must be one of https://git.io/vQNgJ
  - ruby

toc_footers:
  - <a href='https://apisync.io'>Sign Up</a>

includes:
  - section_resources.md.erb
  - inventory_items.md.erb
  - resources/ad_accounts.md.erb
  - resources/campaigns.md.erb
  - resources/ad_sets.md.erb
  - resources/ads.md.erb
  - errors
  - section_configurations.md.erb
  - resources/facebook_ads_configuration.md.erb
  - resources/google_ads_configuration.md.erb

search: false
---

# Introduction

APISync's RESTful API enables you to synchronize your system with our database,
from where records are sent to external services for marketing automation.

We follow the <a href="http://jsonapi.org" target="jsonapi">JSON:API</a>
standard in all endpoints.

> The API's host is https://api.apisync.io

In case your language or framework is listed below, we recommend using it.

- **Ruby:** <a href="https://github.com/apisync/apisync-ruby">https://github.com/apisync/apisync-ruby</a>
- **Ruby on Rails:** <a href="https://github.com/apisync/apisync-rails">https://github.com/apisync/apisync-rails</a>

**URLs and domains**

The API's host is at `https://api.apisync.io`. This host will be
omitted from the examples below for brevity.
For example, `GET /inventory-items` means an HTTP GET request to
`https://api.apisync.io/inventory-items`.

**IDs and Reference Id**

> UUID has the format in the `id` attribute below:

```json
{
  "data": {
    "id": "35b87e73-3fec-4f2c-86dd-6afe36a0dbd2",
    "attributes": {
      "reference_id": "your-own-id"
    }
  }
}
```

Every record sent by you will receive a unique ID in the
<a href="https://en.wikipedia.org/wiki/Universally_unique_identifier" target="_uuid">UUID format</a>.

You can also send your own customized `id` with the `reference_id` attribute.
When a POST request has a `reference_id` equal to an already existing record,
such record will be _updated_. If such record doesn't exist yet, a new one will
be created.

# Formats

**Attributes**

```json
{
  "custom_attributes": [{
    "label": "Custom attribute",
    "identifier": "custom-attribute",
    "value": "Some value"
  }]
}
```

All JSON keys must use
<a href="https://en.wikipedia.org/wiki/Snake_case" target="_snakecase">snake_case</a>
(underscores).

**Currencies**

Currency is specified with
<a href="https://en.wikipedia.org/wiki/ISO_4217" target="_iso4217">ISO 4217</a>.
For instance, specify `BRL` for brazilian Real.

**Dates**

```json
{
  "created_at": "2017-10-12T10:12:00Z"
}
```

All dates are in the
<a href="https://en.wikipedia.org/wiki/ISO_8601" target="_iso8601">ISO 8601</a>
format (except where specified).

# Authorization

> To authenticate a request, send your API token in the header:

```
curl -H "Authorization: ApiToken $API_TOKEN" \
     "https://api.apisync.io/inventory-items"
```

Every customer has a unique API token to access endpoints. You can find yours in
the dashboard.

You must include your API token in every request you make using the
`Authorization` header in the format
`Authorization: ApiToken $API_TOKEN`.

<aside class="notice">
Replace <code>$API_TOKEN</code> with your actual API token.
</aside>

Without this, we cannot know who's using the API and you won't be able to access
your data.

<%= raw_partial("includes/_index_pagination.md") %>

<%= raw_partial("includes/_index_test_account.md") %>
