---
title: API Reference

language_tabs: # must be one of https://git.io/vQNgJ
  - ruby

toc_footers:
  - <a href='https://apisync.io'>Sign Up</a>

includes:
  - index_introduction
  - index_technical_details
  - index_authorization
  - index_pagination
  - errors
  - section_for_organizations.md.erb
  - resources/organizations/accounts.md.erb
  #- resources/organizations/upstream.md.erb
  - section_for_accounts.md.erb
  - resources/accounts/inventory_items.md.erb
  - resources/accounts/campaigns.md.erb
  - resources/accounts/ad_sets.md.erb
  - resources/accounts/ads.md.erb
  - section_configurations.md.erb
  - resources/facebook_ads_configuration.md.erb
  #- resources/google_ads_configuration.md.erb

search: false
---
